<div class="main-wrapper">
  <div class="main-list">
    <h3>Books</h3>
    <table class="is-border">
      <tr>
        <th width="145">Title</th>
        <th width="400">Body</th>
      </tr>
      <tr>
        <td>あああああ</td>
        <td>あああああ</td>
        <td><a href="#">show</a></td>
        <td><a href="#">edit</a></td>
        <td><a href="#">destroy</a></td>
      </tr>
    </table>
  </div>

  <div class="new-post">
    <h3>New book</h3>
    <form method="POST" action="#">
      <p>Title</p>
      <input>
      <p>Body</p>
      <textarea></textarea><br>
      <input class="submit-button" type="submit" value="Create Book">
    </form>
  </div>
</div>
