// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.main-wrapper {
  margin: 25px 0 0 35px;
}

.main-list {
  font-size:14px;
  margin-bottom: 50px;
}

.main-list h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.new-post h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.new-post p {
  font-size: 14px;
  text-align: left;
  line-height: 1.0;
}

.showpage {
  font-size: 14px;
  margin: 30px 0 0 65px;
}

.showpage p {
  margin-bottom: 30px;
}

.showpage span {
  font-weight: bold;
}

.showpage-link {
  font-size: 14px;
  margin-left: 30px;
}

.editpage {
  margin: 25px 0 0 35px;
}

.editpage h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.editpage p {
  font-size: 14px;
}

.editpage-link {
  font-size: 14px;
  margin: 10px 0 0 35px;
}